REDIS_HOST = 'localhost'
REDIS_PORT = 6379

TWITTER_CONSUMER_KEY = 'your twitter consumer key'
TWITTER_CONSUMER_SECRET = 'your twitter consumer secret'
TWITTER_BEARER_TOKEN = 'your twitter bearer token key'

RSMQ_QUEUE_NAME = 'sparrow_dev_birdman_says_hi'

REDIS_TWEETS_SET = 'tweets'
REDIS_TWEET_PREFIX = 'tweet:'